// cd /home/o/orion/projects/ao/noc-monitor-server/dist
// export CLASSPATH=
// java -Djava.security.debug=access,failure -ea:com.aoindustries... -Djava.security.policy=/home/o/orion/common/ao/cvswork/noc-monitor-server/security.policy -jar noc-monitor-server.jar localhost 2>&1 | grep -v allowed | less -S

grant codeBase "file:${user.dir}/noc-monitor-server.jar" {
  permission java.io.FilePermission           "${user.dir}/lib/noc-monitor.jar",      "read";
  permission java.io.FilePermission           "persistence",                          "read,write";
  permission java.io.FilePermission           "persistence/-",                        "read,write";
  permission java.lang.RuntimePermission      "modifyThreadGroup";
  permission java.net.SocketPermission        "127.0.0.1:1024-",                      "accept,resolve";
  permission java.net.SocketPermission        "127.0.0.1:4585",                       "connect,resolve";
  permission java.net.SocketPermission        "master.aoindustries.com",              "resolve";
  permission java.net.SocketPermission        "66.160.183.1:4583",                    "connect,resolve";
  permission java.security.SecurityPermission "insertProvider.SunJSSE";
  permission java.util.PropertyPermission     "java.rmi.server.disableHttp",          "write";
  permission java.util.PropertyPermission     "java.rmi.server.randomIDs",            "write";
  permission java.util.PropertyPermission     "java.rmi.server.hostname",             "write";
  permission java.util.PropertyPermission     "java.rmi.server.useCodebaseOnly",      "write";
  permission java.util.PropertyPermission     "user.dir",                             "read";
  permission java.util.PropertyPermission     "user.timezone",                        "write";
};
grant codeBase "file:${user.dir}/lib/aocode-public.jar" {
  permission java.lang.RuntimePermission      "modifyThreadGroup";
  permission java.net.SocketPermission        "master.aoindustries.com",              "resolve";
  permission java.net.SocketPermission        "66.160.183.1:4583",                    "connect,resolve";
  permission java.security.SecurityPermission "insertProvider.SunJSSE";
  permission java.util.PropertyPermission     "user.timezone",                        "write";
};
grant codeBase "file:${user.dir}/lib/aoserv-client.jar" {
  permission java.io.FilePermission           "${user.dir}/lib/noc-monitor.jar",      "read";
  permission java.io.FilePermission           "persistence",                          "read,write";
  permission java.io.FilePermission           "persistence/-",                        "read,write";
  permission java.lang.RuntimePermission      "modifyThreadGroup";
  permission java.net.SocketPermission        "master.aoindustries.com",              "resolve";
  permission java.net.SocketPermission        "66.160.183.1:4583",                    "connect,resolve";
  permission java.security.SecurityPermission "insertProvider.SunJSSE";
  permission java.util.PropertyPermission     "user.dir",                             "read";
};
grant codeBase "file:${user.dir}/lib/noc-common.jar" {
  permission java.net.SocketPermission        "127.0.0.1:4585",                       "connect,resolve";
  permission java.util.PropertyPermission     "user.timezone",                        "write";
};
grant codeBase "file:${user.dir}/lib/noc-monitor.jar" {
  permission java.io.FilePermission           "persistence",                          "read,write";
  permission java.io.FilePermission           "persistence/-",                        "read,write";
  permission java.lang.RuntimePermission      "modifyThreadGroup";
  permission java.net.SocketPermission        "127.0.0.1:1024-",                      "accept,resolve";
  permission java.net.SocketPermission        "127.0.0.1:4585",                       "connect,resolve";
  permission java.net.SocketPermission        "master.aoindustries.com",              "resolve";
  permission java.net.SocketPermission        "66.160.183.1:4583",                    "connect,resolve";
  permission java.security.SecurityPermission "insertProvider.SunJSSE";
  permission java.util.PropertyPermission     "user.dir",                             "read";
  permission java.util.PropertyPermission     "user.timezone",                        "write";
};
